body, html {
  margin: 0;
  padding: 0;
}

.header {
  color: white; /* Text color */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Text shadow */
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  padding: 5px;
  background-image: url(Images/aurora.jpg); /* Background image */
  background-size: cover; /* Scale background image to cover entire header */
  background-position: center; /* Center the background image */
}

  
.header-title h1 {
 font-size: 3rem; /* Adjust font size as needed */
 margin-bottom: 20px; /* Adjust spacing between title and subtitle */
}

.header-quote p {
  font-size: 1rem; /* Adjust font size as needed */
  font-style: italic;
  margin-bottom: 30px
}


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.para-section {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  width: 60%; /* Adjust the width of your content */
  max-width: 1200px; /* Optional: Set maximum width */
  margin: 0 auto; /* Center the content horizontally */
  /* Additional styling for your content */
  padding: 20px; /* Add padding for spacing */
}

/* Button Design */
.about-button {
  background-color: #4CAF50; /* Green background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 15px 32px; /* Some padding */
  text-align: center; /* Centered text */
  text-decoration: none; /* Remove underline */
  display: inline-block; /* Make the container an inline-block element */
  font-size: 16px; /* Increase font size */
  margin: 4px 2px; /* Some margin */
  cursor: pointer; /* Pointer/hand icon on hover */
  border-radius: 8px; /* Rounded corners */
  transition: background-color 0.3s ease; /* Smooth transition for background color */
}

/* Button hover effect */
.about-button:hover {
  background-color: #469e4b; /* Darker green */
}

/* Button focus effect */
.about-button:focus {
  outline: none; /* Remove default outline */
  box-shadow: 0 0 5px 2px rgba(0, 150, 136, 0.5); /* Add a custom shadow */
}

/* Button active effect */
.about-button:active {
  background-color: #265528; /* Even darker green */
}

/* Responsive button */
@media (max-width: 600px) {
  .about-button {
      width: 100%; /* Full width on small screens */
  }
}

