* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #2905682d; /* Change this to your desired background color */
}

.title-banner {
  background-image: url('Images/aurora.jpg');
  background-size: cover;
  text-align: center;
  padding: 80px 0;
  color: white;
  margin-left: calc((100% - 1000px) / 2); /* Adjust margin to center */
  margin-right: calc((100% - 1000px) / 2); /* Adjust margin to center */
  
}

.title-banner h1 {
  margin: 0;
  font-size: 60px; /* Adjust this value to increase font size */
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
  font-weight: bold;
  margin-bottom: 20px;
}

.title-banner p {
  margin: 0;
  font-size: 30px; /* Adjust this value to increase font size */
}

.navigation-pane {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  background-color: #450fc415;
  margin-left: calc((100% - 1000px) / 2); /* Adjust margin to center */
  margin-right: calc((100% - 1000px) / 2); /* Adjust margin to center */
}

.navigation-pane button {
  margin: 0 10px;
  padding: 10px 20px;
  border: none;
  background-color: #007BFF;
  color: white;
  cursor: pointer;
}

.navigation-pane button:hover {
  background-color: #0056b3;
}


.introduction {
  background-color: #450fc415;
  margin-left: calc((100% - 1000px) / 2); /* Adjust margin to center */
  margin-right: calc((100% - 1000px) / 2); /* Adjust margin to center */
}

.approach {
  background-color: #450fc415;
  margin-left: calc((100% - 1000px) / 2); /* Adjust margin to center */
  margin-right: calc((100% - 1000px) / 2); /* Adjust margin to center */
}

.introduction h2{
  max-width: calc(1000px - 20px); /* Adjusted to match the combined width of the cards */
  margin: auto;
  padding: 10px;
  font-size: 30px;
  text-align: left;
  background-color: #ffffff00; /* Change color of the introduction paragraph */
}

.introduction p{
  max-width: calc(1000px - 20px); /* Adjusted to match the combined width of the cards */
  margin: auto;
  padding: 10px;
  font-size: 15px;
  text-align: left;
  background-color: #ffffff00; /* Change color of the introduction paragraph */
}

.approach h2{
  max-width: calc(1000px - 20px); /* Adjusted to match the combined width of the cards */
  margin:auto;
  padding: 10px;
  font-size: 28x;
  text-align: left;
  background-color: #ffffff00; /* Change color of the introduction paragraph */
}

.approach p{
  max-width: calc(1000px - 20px); /* Adjusted to match the combined width of the cards */
  margin: auto;
  padding: 10px;
  font-size: 15px;
  text-align: left;
  background-color: #ffffff00; /* Change color of the introduction paragraph */
}

.card-section {
  display: flex;
  justify-content: space-around;
  margin: 20px auto;
  max-width: 1000px;
}

.card {
  background-color: white;
  border: 5px dotted #500d8b;
  padding: 20px;
  border-radius: 20px; /* Adjust the value to control the roundness of the corners */
  text-align: left; /* Align descriptions to the left */
  text-justify: auto; /* Justify text within the width of the cards */
  width: 30%;
}

.card h3{
  margin-bottom: 20px;
  font-size: 20px;
}

.card ol{
  margin-left: 20px;
  margin-bottom: 20px;
  font-size: 15px;
}

.card p{
  margin-bottom: 10px;
  font-size: 15px;
}

.card img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.start-section {
  text-align: center;
  margin: 100px 0;
}

.start-button {
  background-color: green;
  color: white;
  padding: 20px 40px;
  border: none;
  border-radius: 50%;
  font-size: 50px;
  cursor: pointer;
}

.start-button:hover {
  background-color: darkgreen;
}

.footer {
  color: rgb(19, 18, 18);
  text-align: left;
  font-size: 10px;
  padding: 20px 0;
  margin-bottom: 100px;
  max-width: 1000px; /* Set the max width to match the width of other sections */
  margin: 0 auto; /* Center the footer */

}

@media (max-width: 768px) {
  .card-section {
      flex-direction: column;
      align-items: center;
  }

  .card {
      width: 80%;
      margin-bottom: 20px;
  }
}
